<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navber-header">
      <a class="navber-brand" href="/">Rails 103</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navber-nav navber-right">
        <li>
          <%= link_to("登录"，'#') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
